Django==1.9.8
jsonfield==1.0.3
django-jsonview==1.0.0
requests==2.10.0
factory_boy==2.7.0
coverage==4.1
# NOTE(joshblum): also update product/docker/pip-install-baked.docker
httpsig==1.1.2
# NOTE(joshblum): also update product/docker/pip-install-baked.docker
psycopg2==2.6.2
django-registration-redux==1.4
djrill==2.1.0
ipython==5.0.0
boto==2.41.0
moto==0.4.25
raven==5.23.0
flake8==2.6.2
djangorestframework==3.4.0
djangorestframework-httpsignature==1.0.0
djangocms-admin-style==1.2.3
# NOTE(joshblum): also update product/docker/pip-install-baked.docker
lxml==3.6.0
beautifulsoup4==4.4.1
# NOTE(joshblum): also update product/docker/pip-install-baked.docker
pyOpenSSL==16.0.0
pycrypto==2.6.1
gunicorn==19.6.0
google-api-python-client==1.5.1
# NOTE(joshblum): also update product/circle.yml
slacker==0.9.24
# NOTE(joshblum): also update product/docker/pip-install-baked.docker
pandas==0.18.1
python-dateutil==2.5.3
django-hijack==2.1.1
django-hijack-admin==2.1.1
django-nose==1.4.4
django-debug-toolbar==1.4
django-debug-panel==0.8.3
pexpect==4.2.0
whitenoise==3.2
django-crispy-forms==1.6.0
# NOTE(joshblum): tblib is needed for parallel test runs
tblib==1.3.0
# NOTE(joshblum): brotlipy is needed for whitenoise compression
brotlipy==0.3.0
django-gulp==2.4.1
django-money==0.8.0
django-filter==0.13.0
django-widget-tweaks==1.4.1
django-bitfield==1.8.0
django-phonenumber-field==1.1.0
django-annoying==0.9.0
django-related-admin==0.3.1
django-kronos==0.9.0
django-ajax-selects==1.4.3
markdown2==2.3.1
