Django==1.9.6
jsonfield==1.0.3
django-jsonview==0.5.0
requests==2.10.0
factory_boy==2.7.0
coverage==4.1
psycopg2==2.6.1
phonenumbers==7.3.2
django-object-actions==0.8.2
pelican==3.6.3
markdown==2.6.6
boto==2.40.0
moto==0.4.24
raven==5.18.0
flake8==2.5.4
ipython==4.2.0
django-storages-redux==1.3.2
djangorestframework==3.3.3
httpsig==1.1.2
djangocms-admin-style==1.2.2
djrill==2.1.0
gunicorn==19.5.0
httmock==1.2.5
selenium==2.53.2
django-cors-headers==1.1.0
djangorestframework-httpsignature==1.0.0
pyOpenSSL==16.0.0
pycrypto==2.6.1
google-api-python-client==1.5.0
matplotlib==1.5.1
django-bitfield==1.8.0
timeout-decorator==0.3.2
slacker==0.9.15
beautifulsoup4==4.4.1
# NOTE(derek): html5lib is an optional module used by beautifulsoup4
html5lib==0.9999999
gevent==1.1.1
gevent-websocket==0.9.5
eventlet==0.19.0
greenlet==0.4.9
python-engineio==0.9.0
python-socketio==1.2
six==1.10.0
django-registration-redux==1.4
django-related-admin==0.3.0
kombu==3.0.35
redis==2.10.5
stripe==1.33.0
django-nose==1.4.3
django-hijack==2.1.1
django-hijack-admin==2.1.1
whitenoise==3.1
django-crispy-forms==1.6.0
django-annoying==0.9.0
django-debug-toolbar==1.4
django-debug-panel==0.8.2
django-ajax-selects==1.4.3
pexpect==4.1.0
# NOTE(joshblum): tblib is needed for parallel test runs
tblib==1.3.0
# NOTE(joshblum): brotlipy is needed for whitenoise compression
brotlipy==0.3.0
django-gulp==2.4.0
# NOTE(lydia): When upgrading django-money, run makemigrations to check if
# new currencies were added. (currencies are passed as choices to MoneyField)
django-money==0.8.0
tinycss==0.3
django-phonenumber-field==1.1.0
django-sortedm2m==1.2.2
jsl==0.2.4
jsonschema==2.5.1
snowplow-tracker==0.7.2
